<div class="row">


<div class="large-8 columns">
<h1>New budget</h1>

<%= render 'form' %>

<%= link_to 'Back', budgets_path %>
  </div>

</div>


 <div id="myModal" class="reveal-modal">

 <h2>Model Test</h2>

 <p>Will hold user form!</p>

 <%= render 'form' %>

 <a class="close-reveal-modal">&#215;</a>
 </div>



<a href="#" data-reveal-id="myModal">Click Me For A Modal</a>
